.gridSpace {
  width: 25%;
  margin: 15px;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 7px;
  color: black;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  height: 100%;
}

.productImgContainer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.productImg {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.productTitle {
  margin-bottom: auto;
}

.priceQuantContainer {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.productPrice{
  width: 40%;
}

.counterContainer {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.counterBtn {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #ebebeb;
  color: black;
  font-weight: 700;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px rgb(160, 160, 160);
    border: none;
    background-color: rgb(100, 131, 255);
    color: white;
  }

  &:disabled {
    opacity: .5;
    border: none;
    box-shadow: none;
    color: lightgray;

    &:hover {
      background-color: #ebebeb;
      border: none;
      box-shadow: none;
    }
  }
}

.numInput {
  width: 10%;
  background-color: whitesmoke;
  border: none;
  font-size: 1.15rem;
  font-weight: 600;
  color: black;
}

.addCartBtn {
  border-radius: 50px;
  background-image: linear-gradient(135deg, green, green, green, limegreen);
  background-size: 200%;
  background-position: left;
  font-weight: 700;
  font-size: 1.15em;
  transition: all 0.3s ease-in-out;
  border: none;

  &:hover {
    background-position:right;
    box-shadow: 0 0 15px rgb(160, 160, 160);
  }
}

.reviewsContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 15px;
}

.numInput::-webkit-inner-spin-button,
.numInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numInput {
    -moz-appearance: textfield;
}